/* Default Header Styles */
.header {
    background: #0b1d2c;
    color: white;
    padding: 0px 20px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 500;
}