nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    padding: 0px 60px;
    position: sticky;
    top: 0;
    z-index: 10;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

a svg {
    width: 60px;
    height: auto; 
}

#webapp-title {
    margin-left: 10px;
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    width: 40px;
    margin: auto;
}

#navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover {
    color: #9be6fa;
}

/*for mobile*/
@media (max-width: 768px) {
    #navbar {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #000000;
        padding: 20px;
    }

    #navbar.active {
        display: flex; /* Show the navbar when the hamburger is clicked */
    }

    #navbar li {
        text-align: center;
        padding: 10px 0;
    }

    /* Hamburger menu visible only on mobile */
    .menu-toggle {
        display: block;
        font-size: 2rem;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
    }
}

/* Hide hamburger menu on larger screens */
@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}
