.homesidebar p {
    color: var(--accent-background);
    text-align: center;
 }
 
 
 .homesidebar h1 {
    color: var(--faint-text);
    font-size: 1.3rem;
    font-weight: 400;
 }
 
 
 .homesidebar {
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: 93vh;
    width: 250px; /* Adjust as needed */
    position: fixed;
    right: 0;
    top: 50px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: var(--secondary-accent-background);
 }
 