.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--screen-overlay-rgb), 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
.modal {
    background: var(--secondary-background);
    color: var(--text);
    padding: 23px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    box-shadow: var(-modal-shadow);
}
  
.modal h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
}
  
.modal p {
    margin-bottom: 25px;
    color: var(--description-text);
}
  
.modal-buttons {
    display: flex;
    justify-content: space-around;
}
  
.modal-buttons .button {
    margin: 0 10px;
}
  