.chartContainer {
    width: 220px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 50px;
  /* Ensure text like legend labels uses theme */
}

/* CSS Variables for Theming */
:root {
    --in-progress-color: var(--in-progress-area);
    --completed-color: var(--done-area);
    --in-progress-hover: var(--hover-in-progress);
    --completed-hover: var(--hover-done);
    --text-color: var(--faint-background);
}
