.chartContainer {
    width: 220px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  /* Ensure text like legend labels uses theme */
}

/* CSS Variables for Theming */
:root {
    --in-progress-color: var(--red);
    --completed-color: var(--blue);
    --in-progress-hover: var(--dark-red);
    --completed-hover: var(--dark-blue);
    --text-color: var(--faint-background);
}
