.Task-board {
  display: flex;
  width: 100%;
  height: 92vh;
  background-color: #f0f0f0;
  box-sizing: border-box;
  padding: 20px;
}

.columns {
  display: flex;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
}
