/* Container for the entire Task Manager */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--secondary-background);
    color: var(--text);
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }

.newEntryQuestion {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 15px;
  color: var(--text);
}

/* Form and inputs */
.form {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1.5px solid var(--accent-background);
  background: var(--primary-background);
  color: var(--text);
  outline: none;
}

.dragHandle {
  font-size: 1.1rem;
  color: var(--description-text);
  margin: 3px;
}

/* Buttons */
.button {
  padding: 11px 20px;
  font-size: 1rem;
  border-radius: 7px;
  border: none;
  background-color: var(--accent-background);
  color: var(--primary-background);
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 5px 5px;
}

/* Different button colors */
.buttonGreen {
  background-color: var(--done-button);
  color: var(--secondary-background);
}

.buttonYellow {
  background-color: var(--in-progress-button);
  color: var(--secondary-background);
}

.buttonBlue {
  background-color: var(--edit-button);
  color: var(--secondary-background);
}

.buttonRed {
  background-color: var(--delete-button);
  color: var(--secondary-background);
}

.buttonGray {
  background-color: var(--cancel-button);
  color: text(--secondary-background);
}

/* Section header */
.sectionHeader {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: -5px;
}

/* Tables */
.table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

.th {
  border: 1px solid var(--text);
  padding: 10px;
  text-align: left;
  background-color: var(--secondary-accent-background);
  cursor: pointer;
}

.td {
  border: 1px solid var(--description-text);
  padding: 8px;
  text-align: left;
}

.noTasks {
  color: var(--faint-text);
  margin-top: 20px;
  font-size: 1.2rem;
}

/* Drag handle symbol */
.dragHandle {
  cursor: move;
  margin-right: 8px;
}  
