.task-list-container {
  background-color: var(--tasklist-container-bg);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: var(--tasklist-container-box-shadow);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.task-list-header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  margin-bottom: 0rem;
  margin-left: 0.4rem;
}

.task-list-header h2 {
  display: inline-block;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.1rem;
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 600;
}

.task-list-header-controls {
  right: 0.8rem; 
  position: absolute;
  top: 0.8rem; 
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.toggle-container {
  position: relative;
  width: 100%;
  height: 1.75rem;
  border: 0.75px solid var(--tasklist-buttons-border);
  border-radius: 25px;
  overflow: hidden;
}

.select-button {
  border: 0.95px solid var(--tasklist-buttons-border);
  background-color: var(tasklist-select-bg);
  border-radius: 25px;
  width: 4rem;
  height: 1.75rem;
  margin-top: -0.45rem;
  cursor: pointer;
  font-size: 0.8rem;
  color: var(--select-text);
  transition: background-color 0.3s, color 0.3s;
}

.select-button.active {
  background-color: var(--tasklist-select-active); 
  color: var(--select-text-active);
}

.task-list-content {
  flex: 1;
  overflow-y: auto;
  padding-right: 8px; 
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.task-list-content::-webkit-scrollbar {
  width: 8px;
}

.task-list-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.task-list-content.scrolling::-webkit-scrollbar-thumb {
  opacity: 1;
}

.task-list-content::-webkit-scrollbar-track {
  background: transparent;
}

.task-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--taskitem-bg);
  border: 1px solid var(--taskitem-border);
  border-radius: 6px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  transition: opacity 0.3s;
}

.task-item input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 1rem; 
  line-height: 1.2;
}

.task-item input[type="text"]:focus {
  box-shadow: none;
  outline: none;
}

.task-item.task-done {
  opacity: 0.5;
}

.task-item.task-selected {
  position: relative;
  background-color: transparent;
}

.task-item.task-selected::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: var(--taskitem-selected-overlay);
  opacity: 0.2;
  pointer-events: none;
  border-radius: 6px;
}

.select-icon,
.checkbox-icon {
  width: 14px;
  height: 14px;
  margin-left: 2px;
  margin-right: -5px;
  cursor: pointer;
}

.task-title-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.deadline-btn {
  display: inline-flex;
  align-items: center;
  background-color: var(--deadline-background);
  border-radius: 12px;
  padding: 0.2rem 0.6rem;
  color: var(--select-text);
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.deadline-edit-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.deadline-edit-container input[type="date"] {
  border: 1px solid var(--select-text);
  border-radius: 5px;
  padding: 0.2rem;
  font-size: 0.7rem;
}

.deadline-close-btn {
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--deadline-background);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--select-text);
}

.deadline-btn.overdue {
  color: var(--deadline-overdue-border);
  background-color: var(--deadline-overdue-bg);
  border: 1px solid var(--deadline-overdue-border);
}
.deadline-btn.due-today {
  color: var(--deadline-overdue-border);
  background-color:  var(--deadline-overdue-bg);
}
.deadline-btn.due-soon {
  color: var(--deadline-due-soon-border);
  background-color: var(--deadline-due-soon-bg);
  border: 1px solid var(--deadline-due-soon-border);
}

.deadline-btn:hover {
  background-color: var(--no-date-hover);
}

.time-estimate-btn {
  cursor: pointer;
  font-size: 0.8rem;
  background-color: var(--deadline-background);
  color: var(--select-text);
  border-radius: 12px;
  padding: 0.2rem 0.6rem;
  transition: background-color 0.2s;
}
.time-estimate-btn:hover {
  background-color: var(--hover-bg);
}

.time-estimate-dropdown {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.time-estimate-dropdown input[type="number"] {
  width: 60px;
  border: 1px solid var(--select-text);
  border-radius: 5px;
  padding: 0.2rem;
  font-size: 0.7rem;
}
.time-estimate-dropdown select {
  border: 1px solid var(--select-text);
  border-radius: 5px;
  padding: 0.2rem;
  font-size: 0.7rem;
  background-color: var(--estimated-time-dropdown);
}
.time-estimate-dropdown button {
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--deadline-background);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--select-text);
}

.task-delete-btn {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 0.3rem;
  display: none;
}

.task-item:hover .task-delete-btn {
  display: block;
}
.task-delete-btn.always-visible {
  display: block !important;
}

.general-section {
  margin-top: -0.1rem;
  margin-bottom: 0.8rem;
}

.label-section {
  margin-bottom: 1rem;
}
.label-section.active-label-section {
  background-color: var(--active-label-bg);
  border: 1px solid var(--active-label-border);
  border-radius: 10px;
  padding: 0.5rem;
}

.label-section:not(.active-label-section) .label-tasks {
  margin-left: 1.2rem;
}
.label-section.active-label-section .label-tasks {
  margin-left: 0;
}

.label-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.label-header h3 {
  text-align: left;
  margin: 0;
  font-size: 1.175rem;
  font-weight: 650;
}
.label-count {
  display: flex;
  align-items: left;
  font-size: 0.8rem;
  color: var(--label-count);
}

.label-header input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 850;
  line-height: 1.2;
  width: auto;
}

.label-header input[type="text"]:focus {
  box-shadow: none;
  outline: none;
}

.dropdown-icon-list {
  margin-top: -1px;
  margin-right: -1px;
  width: 12px;
  height: 12px;
  transition: transform 0.3s;
}
.dropdown-icon-list.open {
  transform: rotate(180deg);
}

.label-header.active-label {
  background-color: var(--active-label-header-bg);
  border-radius: 4px;
}

.label-tasks {
  margin-top: 0.3rem;
}

.label-tasks p {
  position: center;
  font-size: 0.9rem;
  color: var(--label-tasks-p);
  margin-top: 3px;
  margin-bottom: 0;
}

.no-tasks {
  position: center;
  margin-left: 28.5rem;
  font-size: 0.9rem;
  color: var(--label-count);
}

.label-options-icon {
  margin-left: auto;
  position: relative;
  cursor: pointer;
}
.label-options-icon img {
  width: 16px;
  height: 16px;
}

.label-options-menu {
  position: absolute;
  top: 24px;
  right: 0;
  border-radius: 4px;
  min-width: 100px;
  z-index: 999;
}
.label-options-item {
  padding: 0.5rem;
  font-size: 0.85rem;
  cursor: pointer;
}

.label-options-item.delete-item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
