.metricssidebar p {
    color: var(--accent-background);
    text-align: center;
 }
 
 
 .metricssidebar h1 {
    color: var(--faint-text);
    font-size: 1.3rem;
    font-weight: 400;
 }
 
 
 .metricssidebar {
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: 110vh;
    width: 250px;
    top: 50px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: var(--secondary-accent-background);
 }
 