/* src/components/CalendarPage.css */
.calendar-page {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background);
    /* margin-top: 66px; */
}  
/* height: 100vh;       not full viewport height so there is only one scrollbar */
/* overflow: hidden;    Prevent nested scrollbars */

.main-content {
    display: flex;
    /* overflow: hidden; */
    flex: 1;
}

.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    /* overflow: hidden; */
}
