/* src/components/CalendarPage.css */
.calendar-page {
    display: flex;
    flex-direction: column;
    height: 92vh;       /* not full viewport height so there is only one scrollbar*/
    overflow: hidden;    /* Prevent nested scrollbars */
    background-color: var(--secondary-background);
  }  

.main-content {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 400px;
    background: var(--secondary-accent-background);
    color: var(--text); /* DON'T KNOW WHAT IT DOES */
    padding: 20px;
    height: 100%;
}

.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}
