.sidebar h4 {
    color: var(--faint-text);
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
}

.sidebar h2 {
    color: var(--faint-text);
    font-size: 1.3rem;
    font-weight: 400;
}

.sidebar {
    margin-top: 50px;
}